body{
    background-color: rgba(184, 172, 10, 0.726);
    font-family: Bay Jamjuree;
}

#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: rgba(85, 69, 69, 0.822);
    height: 20rem;
    flex-grow: 1;
}








footer{ 
    background-color: rgba(223, 208, 5, 0.795);
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0; 
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}